div{
	&.snap {
	position: relative;
	overflow: hidden;
	width: 238px;
	}
	&.caption {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 2;
	width:218px;
	height: 296px;
	background: rgba(33,33,33,.8);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-webkit-transition: .5s;
	transition: .5s;
	opacity: 0;
	// ie8
	filter: alpha(opacity=0);
	-ms-filter: "alpha(opacity=0)";
	color:#fff;
	}
	h3, p {
	margin:24px;
	}
	&.snap:hover div.caption {
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
	opacity: 1;
	// ie8
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#99000000,EndColorStr=#99000000);
		// ie9
		&:not(:target){
		filter: none;
		-ms-filter: none;
		}
	}

}